<%= form_with model: [ @hike_car, @hike_participant ], class: "px-4 grid grid-cols-2 xl:grid-cols-4" do |form| %>
  <div class="py-2 flex justify-center gap-3 items-center">
    <%= render "avatar", user: @user %>
    <div>
      <div class="text-gray-700"><%= @user.preferred_name.present? ? @user.preferred_name : @user.full_name %></div>
      <div class="text-gray-400"><%= number_to_phone(@user.phone_no, area_code: true) %></div>
    </div>
  </div>
  <%= form.hidden_field :user_id, value: @user.id %>
  <div class="py-2 xl:col-start-4 flex justify-center items-center">
    <%= form.submit "Join hike", class: "h-12 rounded-lg px-2 bg-blue-500 hover:bg-blue-600 text-white cursor-pointer" %>
  </div>
<% end %>
