<p class="my-2">
  <strong class="font-medium">Email</strong>
  <div class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm">
    <%= @user.email %>
  </div>
</p>
<p class="my-2">
  <strong class="font-medium">Full name</strong>
  <div class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm">
    <%= @user.full_name %>
  </div>
</p>
<p class="my-2">
  <strong class="font-medium">Preferred name</strong>
  <div class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm">
    <%= @user.preferred_name %>
  </div>
</p>
<p class="my-2">
  <strong class="font-medium">Phone number</strong>
  <div class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm">
    <%= @user.phone_no %>
  </div>
</p>
<p class="my-2">
  <strong class="font-medium">Discord username</strong>
  <div class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm">
    <%= @user.discord %>
  </div>
</p>
