<div id="<%= dom_id car %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= car.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Make:</strong>
    <%= car.make %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= car.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= car.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Capacity:</strong>
    <%= car.capacity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">License plate:</strong>
    <%= car.license_plate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mpg:</strong>
    <%= car.mpg %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this car", car, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this car", edit_car_path(car), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
