<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <%= turbo_frame_tag "user" do %>
    <%= form_with(model: @user, local: true) do |form| %>
      <p class="my-5">
        <%= form.label :email, class: "font-medium" %>
        <span class="place-content-center text-red-700">*</span>
        <div class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm">
          <%= @user.email %>
        </div>
      </p>
      <p class="my-5">
        <%= form.label :full_name, class: "font-medium" %>
        <span class="place-content-center text-red-700">*</span>
        <div class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm">
          <%= @user.full_name %>
        </div>
      </p>
      <p class="my-5">
        <%= form.label :preferred_name, class: "font-medium" %>
        <%= form.text_field :preferred_name, class:"w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" %>
      </p>
      <p class="my-5">
        <div class="relative">
          <%= form.label :phone_no, "Phone number", class: "font-medium" %>
          <% @user.errors.full_messages_for(:phone_no).each do |message| %>
            <span class="place-content-center text-red-700 text-sm"><%= message %></span>
          <% end %>
          <span class="place-content-center text-red-700">*</span>
        </div>
        <%= form.phone_field :phone_no, class:"w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm", pattern:"[0-9]{10}", placeholder:"1234567890" %>
      </p>
      <p class="my-5">
        <%= form.label :discord, "Discord username", class: "font-medium" %>
        <%= form.text_field :discord, class:"w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" %>
      </p>
      <div class="relative">
        <%= form.submit class:"mt-6 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
        <%= link_to "Delete profile", user_path, data: {turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Are you sure you want to delete your profile?"}, class: "inline-block ml-2 mt-6 rounded-lg py-3 px-5 bg-red-100 hover:bg-red-200 font-medium" %>
      </div>
    <% end %>
  <% end %>
</div>
