<div class="flex flex-wrap items-stretch justify-center my-4">
  <div class="w-full min-h-96 h-full lg:w-2/5 mx-2 my-2 rounded-lg p-6 shadow-lg">
    <h1 class="font-bold text-2xl">Profile</h1>
    <%= turbo_frame_tag "user" do %>
      <%= render @user %>
      <%= link_to "Edit profile", edit_user_path, class: "mt-6 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
    <% end %>
  </div>
  <div class="relative min-h-36 w-full lg:w-2/5 mx-2 my-2 rounded-lg p-6 shadow-lg">
    <h1 class="font-bold text-2xl">Cars</h1>
    <div id="cars" class="w-full">
      <%= render @user.cars %>
    </div>
    <%= turbo_frame_tag "new_car", class: "flex min-h-16" do %>
      <%= link_to "Add car", new_car_path, class: "absolute bottom-6 left-6 mt-2 rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-600 text-white inline-block font-medium" %>
    <% end %>
  </div>
</div>
