<div id=<%= dom_id hike %>" class="mt-4 md:grid md:grid-cols-2 md:gap-y-6 md:gap-x-8">
  <div class="col-span-2" data-hike-target="alltrailsLink">
    <strong class="font-medium">Alltrails link</strong>
    <%= @hike.alltrails_link %>
  </div>
  <div>
    <strong class="font-medium">Length</strong>
    <%= @hike.length %>
  </div>
  <div>
    <strong class="font-medium">Elevation</strong>
    <%= @hike.elevation %>
  </div>
  <div>
    <strong class="font-medium">Route type</strong>
    <%= @hike.route_type %>
  </div>
  <div>
    <strong class="font-medium">Duration</strong>
    <%= @hike.duration %>
  </div>
  <div>
    <strong class="font-medium">Difficulty</strong>
    <%= @hike.difficulty %>
  </div>
  <div>
    <strong class="font-medium">Driver compensation type</strong>
    <div>
      <%= @hike.driver_compensation_type %>
    </div>
  </div>
  <div class="col-span-2">
    <strong class="font-medium">Title</strong>
    <%= @hike.title %>
  </div>
  <div class="col-span-2 row-span-3">
    <strong class="font-medium">Description</strong>
    <%= @hike.description %>
  </div>
  <div>
    <strong class="font-medium">Date</strong>
    <%= @hike.date %>
  </div>
  <div>
    <strong class="font-medium">Time</strong>
    <%= @hike.time %>
  </div>
  <div class="col-span-2">
    <strong class="font-medium">Trailhead address</strong>
    <%= @hike.trailhead_address %>
  </div>
  <div class="col-span-2">
    <strong class="font-medium">Suggested Items</strong>
    <%= @hike.suggested_items %>
  </div>
  <div class="col-span-2">
    <strong class="font-medium">Notes</strong>
    <%= @hike.notes %>
  </div>
</div>
