<%= turbo_frame_tag "edit_car" do %>
  <div id="<%= dom_id car %>" class="border rounded-lg mt-2 pl-4 flex flex-wrap place-content-stretch">
    <h2 class="mt-2 w-full font-bold text-xl"> <%= car.make %> <%= car.model %> </h2>
    <!-- <div class="my-5 w-full md:w-5/12 md:pr-4">
    <strong class="font-medium">Make</strong>
    <div class="shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <%#= car.make %>-->
    <!--    </div>
  </div>
  <div class="my-5 w-full md:w-5/12 md:pl-4">
    <strong class="font-medium">Model</strong>
    <div class="shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <%#= car.model %>-->
    <!--    </div>
  </div>-->
    <div class="my-2 w-full md:w-5/12 md:pr-4">
      <strong class="font-medium">Color</strong>
      <div class="shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
        <%= car.color %>
      </div>
    </div>
    <div class="my-2 w-full md:w-5/12 md:pl-4">
      <strong class="font-medium">Capacity</strong>
      <div class="shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
        <%= car.capacity %>
      </div>
    </div>
    <div class="my-2 w-full md:w-5/12 md:pr-4">
      <strong class="font-medium">License plate</strong>
      <div class="shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
        <%= car.license_plate %>
      </div>
    </div>
    <div class="my-2 w-full md:w-5/12 md:pl-4">
      <strong class="font-medium">Mpg</strong>
      <div class="shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
        <%= car.mpg %>
      </div>
    </div>
    <div class="w-full md:self-start">
      <%= link_to "Edit car", edit_user_car_path(car), class: "my-4 inline-block rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 font-medium" %>
    </div>
  </div>
<% end %>
