<%= turbo_frame_tag dom_id(car) do %>
  <div id="<%= dom_id car %>" class="border rounded-lg mt-2 px-4">
    <h2 class="mt-2 font-bold text-xl"> <%= car.make %> <%= car.model %> </h2>
    <div class="md:grid md:grid-cols-2 md:gap-x-8">
      <div class="my-2 w-full">
        <strong class="font-medium">Color</strong>
        <div class="shadow rounded-lg border border-gray-200 px-3 py-2 mt-2">
          <%= car.color %>
        </div>
      </div>
      <div class="my-2 w-full">
        <strong class="font-medium">Capacity</strong>
        <div class="shadow rounded-lg border border-gray-200 px-3 py-2 mt-2">
          <%= car.capacity %>
        </div>
      </div>
      <% if car.license_plate.present? %>
        <div class="my-2 w-full">
          <strong class="font-medium">License plate</strong>
          <div class="shadow rounded-lg border border-gray-200 px-3 py-2 mt-2">
            <%= car.license_plate %>
          </div>
        </div>
      <% end %>
      <% if car.mpg.present? %>
        <div class="my-2 w-full">
          <strong class="font-medium">MPG</strong>
          <div class="shadow rounded-lg border border-gray-200 px-3 py-2 mt-2">
            <%= car.mpg %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full md:self-start">
      <%= link_to "Edit car", edit_car_path(car), class: "my-4 inline-block rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 font-medium" %>
    </div>
  </div>
<% end %>
