<%= form_with(model: car, data: { turbo_frame: "_top" }, class: "border rounded-lg mt-2 px-4 flex flex-wrap place-content-stretch") do |form| %>
  <div class="md:grid md:grid-cols-2 md:gap-x-8">
    <div class="my-2 w-full">
      <div class="flex">
        <%= form.label :make, class: "font-medium mr-1" %>
        <span class="place-content-center text-red-700 mr-2">*</span>
        <% if car.errors[:make].any? %>
          <span class="text-red-500"><%= car.errors[:make].join(", ") %></span>
        <% end %>
      </div>
      <%= form.text_field :make, class: "shadow rounded-lg w-full border border-gray-200 px-3 py-2 mt-2" %>
    </div>
    <div class="my-2 w-full">
      <div class="flex">
        <%= form.label :model, class: "font-medium mr-1" %>
        <span class="place-content-center text-red-700 mr-2">*</span>
        <% if car.errors[:model].any? %>
          <span class="text-red-500"><%= car.errors[:model].join(", ") %></span>
        <% end %>
      </div>
      <%= form.text_field :model, class: "shadow rounded-lg w-full border border-gray-200 px-3 py-2 mt-2" %>
    </div>
    <div class="my-2 w-full">
      <div class="flex">
        <%= form.label :color, class: "font-medium mr-1" %>
        <span class="place-content-center text-red-700 mr-2">*</span>
        <% if car.errors[:color].any? %>
          <span class="text-red-500"><%= car.errors[:color].join(", ") %></span>
        <% end %>
      </div>
      <%= form.text_field :color, class: "shadow rounded-lg w-full border border-gray-200 px-3 py-2 mt-2" %>
    </div>
    <div class="my-2 w-full">
      <div class="flex">
        <%= form.label :capacity, class: "font-medium mr-1" %>
        <span class="place-content-center text-red-700 mr-2">*</span>
        <% if car.errors[:capacity].any? %>
          <span class="text-red-500"><%= car.errors[:capacity].join(", ") %></span>
        <% end %>
      </div>
      <%= form.number_field :capacity, class: "shadow rounded-lg w-full border border-gray-200 px-3 py-2 mt-2" %>
    </div>
    <div class="my-2 w-full">
      <div class="flex">
        <%= form.label :license_plate, class: "font-medium mr-2" %>
        <% if car.errors[:license_plate].any? %>
          <span class="text-red-500"><%= car.errors[:license_plate].join(", ") %></span>
        <% end %>
      </div>
      <%= form.text_field :license_plate, class: "shadow rounded-lg w-full border border-gray-200 px-3 py-2 mt-2" %>
    </div>
    <div class="my-2 w-full">
      <div class="flex">
        <%= form.label :mpg, "MPG", class: "font-medium mr-2" %>
        <% if car.errors[:mpg].any? %>
          <span class="text-red-500"><%= car.errors[:mpg].join(", ") %></span>
        <% end %>
      </div>
      <%= form.text_field :mpg, class: "shadow rounded-lg w-full border border-gray-200 px-3 py-2 mt-2" %>
    </div>
  </div>
  <div>
    <% if car.persisted? %>
      <%= form.submit class: "bottom-4 left-10 my-4 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
      <%= link_to "Delete car", car_path(car), data: {turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Are you sure you want to delete your car?"}, class: "my-4 inline-block ml-2 rounded-lg py-3 px-5 bg-red-100 hover:bg-red-200 font-medium" %>
    <% else %>
      <%= form.submit class: "bottom-4 left-10 my-4 rounded-lg py-3 px-5 bg-green-200 hover:bg-green-300 inline-block font-medium" %>
    <% end %>
  </div>
<% end %>
