<% if @user && signed_waiver? %>
  <div data-controller="push" data-application-server-key="<%= ENV['WEB_PUSH_PUBLIC_KEY'] %>">
  </div>
  <% menu_items = [
    { title: "Hikes", url: hikes_path },
  ] %>
  <nav class="bg-white container mx-auto" data-controller="navbar">
    <div class="px-2 flex h-16 items-center justify-between">
      <div class="md:hidden relative">
        <button class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75" data-action="click->navbar#toggleSidebar" aria-label="Toggle navigation">
          <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        <%= render partial: "sidebar", locals: {menu_items: menu_items} %>
      </div>
      <div class="md:flex md:items-center">
        <%= link_to(root_path) do %>
          <%= image_tag("hiking_logo.svg", class: "size-16", alt: "Hiking Club Logo") %>
        <% end %>
      </div>
      <%= render partial: "topnav", locals: {menu_items: menu_items} %>
      <div class="flex">
        <%= link_to "Logout", user_session_path, class: "text-sm p-2 mx-2 my-auto bg-red-100 rounded-lg hover:bg-red-200", data: {turbo_method: :delete} %>
        <%= link_to(user_path) do %>
          <%= image_tag(@user.avatar_url, class: "size-12 rounded-full", alt: @user.full_name) %>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>