<% if @user && signed_waiver? %>
  <div data-controller="push" data-application-server-key="<%= ENV['WEB_PUSH_PUBLIC_KEY'] %>">
  </div>
  <% menu_items = [
    { title: "Dashboard", url: root_path },
    { title: "Hikes", url: hikes_path },
  ] %>
  <nav class="bg-white container mx-auto" data-controller="navbar">
    <div class="px-2 flex mx-auto items-center justify-between">
      <%= render partial: "sidebar", locals: {menu_items: menu_items} %>
      <div class="lg:flex lg:items-center">
        <%= link_to(root_path) do %>
          <%= image_tag("hiking_logo.svg", class: "size-16", alt: "Hiking Club Logo") %>
        <% end %>
      </div>
      <%= render partial: "topnav", locals: {menu_items: menu_items} %>
      <%= render "avatar" %>
    </div>
  </nav>
<% end %>